<div class="jumbotron">
  <h1>Sensor Visualization</h1>
  <p class="lead">
    These graphs show data from our distributed sensor modules. They've been running for only around 2 days, yet they already seem to show interesting patterns.
  </p>
  <p>Ideally, we will use the regression analyses shown below to detect <b>anomolies in the atmosphere</b> that might inform the occupants of the building of strange or dangerous situations.</p>
  <p>The Values We're currently tracking are
Temperature,
Humidity,
<a href="https://en.wikipedia.org/wiki/Atmospheric_pressure">Pressure</a>,
<a href="https://en.wikipedia.org/wiki/Liquefied_petroleum_gas">Butane (lpg)</a>,
<a href="https://en.wikipedia.org/wiki/Methane">Methane (ch4)</a>,
<a href="https://en.wikipedia.org/wiki/Carbon_monoxide">Carbon Monoxide (co)</a>,
<a href="https://en.wikipedia.org/wiki/Luminance">Light Intensity (luminance)</a>,

</div>

<div id="chart_container0" class="reality">
	<div id="chart0"></div>
	<div id="legend_container0">
		<div id="legend0"></div>
		<div id="smoother0" title="Smoothing"></div>
	</div>
	<div id="slider0"></div>
</div>
<div id="chart_container1" class="reality">
	<div id="chart1"></div>
	<div id="legend_container1">
		<div id="smoother1" title="Smoothing"></div>
		<div id="legend1"></div>
	</div>
	<div id="slider1"></div>
</div>
<div id="chart_container2" class="reality">
	<div id="chart2"></div>
	<div id="legend_container2">
		<div id="smoother2" title="Smoothing"></div>
		<div id="legend2"></div>
	</div>
	<div id="slider2"></div>
</div>
<div id="chart_container3" class="reality">
	<div id="chart3"></div>
	<div id="legend_container3">
		<div id="smoother3" title="Smoothing"></div>
		<div id="legend3"></div>
	</div>
	<div id="slider3"></div>
</div>
<div id="chart_container4" class="reality">
	<div id="chart4"></div>
	<div id="legend_container4">
		<div id="smoother4" title="Smoothing"></div>
		<div id="legend4"></div>
	</div>
	<div id="slider4"></div>
</div>
<div id="chart_container5" class="reality">
	<div id="chart5"></div>
	<div id="legend_container5">
		<div id="smoother5" title="Smoothing"></div>
		<div id="legend5"></div>
	</div>
	<div id="slider5"></div>
</div>
<div id="chart_container6" class="reality">
	<div id="chart6"></div>
	<div id="legend_container6">
		<div id="smoother6" title="Smoothing"></div>
		<div id="legend6"></div>
	</div>
	<div id="slider6"></div>
</div>